# SPDX-License-Identifier: Multics
# SPDX-FileCopyrightText: Copyright (c) 2025 The DPS8M Development Team
# scspell-id: 75b9f83c-93fc-11f0-901c-80ee73e9b8e7

*~
*.bak
/BigletterMultics-Bold.ttf
/BigletterMultics-Regular.ttf
/BigletterStarMultics-Bold.ttf
/BigletterStarMultics-Regular.ttf
*.flf
*.json
/LittleletterMultics-Bold.ttf
/LittleletterMultics-Regular.ttf
/LittleletterStarMultics-Bold.ttf
/LittleletterStarMultics-Regular.ttf
log.pvs
makefiglet
makefont
pvsreport/
*.sfd
